<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <!-- Latest compiled and minified CSS -->
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <link rel="stylesheet" href="{{asset('css/style.css')}}">
         
        <style>
   a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
   } 
  </style>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

       
    </head>
    <body>
    

         <header>
        {% block header %}
        <div class="header_logo">
                <a href="">FAVORITE VIDEOS</a>
            </div>
            <nav>
                <ul>
              
                    <li><a href="http://blogsymfony/page">Главная</a></li>
                    <li><a href="http://blogsymfony/category">Мои категории</a></li>
                    <li><a href="http://blogsymfony/video">Мои видео</a></li>
                </ul>
            </nav>

            
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
             <button class="green"><a href = "{{ path('app_logout') }}">Выйти</a></button>
             
           
        {% else %}
            
            <button class="green"><a href = "{{ path('app_login') }}">Войти</a></button>
            <button class="green"><a href = "{{ path('app_register') }}"> Регистрация</a></button>
            
            
        
        {%  endif  %}

        {% endblock %}

        </header>
    <div class="center_block_main">


    <aside>
    {%block sidebar%}
        <ul>
                <li>
                    <a href="{{ path('app_video') }}">Добавить видео</a>
                </li>
                <li>
                    <a href="#">Добавить категорию</a>
                </li>
            </ul>

    {% endblock %}
    </aside>

    <main>
    {%block main_cont%}
        
        


    {% endblock %}
    </main>
  


    </div>


     {% block javascripts %}
            {# {{ encore_entry_script_tags('app') }}  #}
        {% endblock %}
         
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    </body>
    <footer>FOOTER</footer>
</html>








